.headerdiv{
	margin-bottom:0;
	background:transparent;
	position:relative;
	z-index:2;
	border:1px solid #777777;
}
.bantitle{
	background:url('../img/product/ban.jpg');
	height:380px;
	padding-top:2%;
	position:absolute;
	top:0px;
	width:100%;
	z-index:0;
}
.bantitle>*{
	color:white;
}
.bantitle>h1{
	font-size:8em;
}
.bantitle>h5{
	display:block;
	width:200px;
	height:35px;
	margin:0 auto 1%;
	border:1px solid white;
}
.bantitle>span{
	color:#D1D3D8;
}
.proNav{
	margin-top:18%;
}
.proNav:after{
	content:"";
	display:block;
	background:#D0D3D5;
	height:2px;
	width:100%;
}
.proMinTitle{
	background:#232A37;
	color:white;
}