.pro .headerdiv{
	margin-bottom:0;
	background:transparent;
	position:relative;
	z-index:2;
	border:1px solid #777777;
}
.pro .bantitle{
	background:url('../img/product/ban.jpg');
	height:380px;
	padding-top:2%;
	position:relative;
	top:-50px;
	width:100%;
	z-index:0;
}
.pro .bantitle>*{
	color:white;
}
.pro .bantitle>h1{
	font-size:8em;
}
.pro .bantitle>h5{
	display:block;
	width:200px;
	height:35px;
	margin:0 auto 1%;
	border:1px solid white;
}
.pro .bantitle>span{
	color:#D1D3D8;
}
.pro .nav-no1{
	width:25%;
	margin:0 auto;
}
.pro .proNav{
	width:100%;
	margin-top:-30px;

}
.pro .proNav:after,.pro .minNav:after {
	content:"";
	display:block;
	background:#D0D3D5;
	height:2px;
	width:100%;
	margin-top:10px;
}
.pro .proMinTitle{
	background:#232A37;
	color:white;
}
.pro .minNavRight{
	width:60% !important;
	float:right !important;
}
.pro .margin20{
	margin-top:20px;
}
.pro .minNav{
	padding:30px;
}
.pro .proBgc{
	background:#242A38;
	padding:70px 0 70px 40px;
}

.pro .prolistLeft>p:before{
	content: "";
	display:block;
	width:30px;
	height:1px;
	background:white;
}
.pro .prolistLeft>p{
	font-size:3em;
	font-weight:800;
	color:white;
	
}

.pro .prolistLeft>p:after{
	content: "";
	display:block;
	background:white;
	width:100px;
	height:20px;
}
.pro .prolistLeft>img{
	width:30px;
	margin-top:30%;
}
.pro .prolistLeft>b{
	display:block;
	color:white;
	/*margin-bottom:10%;*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pro .prolistRight>.prolistmidimg{
	margin:2% 0;
}
.pro .prolistRight>div>img{
	width:110%;
}
.pro .proBgc .prolistBan{
	font-size:5em;	
}